body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: sans-serif;
}

.bg-blue {
    background-color: #192f41;
}

#map {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background-color: #7F5336;
    z-index: -1;
}

.map-storymode {
    bottom: auto;
    height: 50%;
}

button {
    display: block;
    width: 100px;
    border-radius: 4px;
    border: 2px solid #7F5336;
}

button:hover {
    background-color: rgb(87, 56, 36);
}

#rover-buttons {
    z-index: 999;
    position: relative;
    top: 125px;
    float: right;
    margin: 10px;
}

.btn-info {
    z-index: 999;
    position: relative;
    top: 110px;
    float: right;
    background-color: white;
    color: grey;
    border: none;
}

.btn-info:hover {
    background-color: rgb(87, 56, 36);
}

.btn-primary {
    background-color: white;
    color: grey;
    border: 1px solid #7F5336;
}

.btn-primary:hover {
    background-color: rgb(87, 56, 36);
}


/* Splashscreen and Modals */
.modal .modal-content {
    border-width: 0px;
    border-radius: 0px;
    box-shadow: 10px 10px 50px black;
}

.modal .modal-header {
    padding: 0px;
    border-width: 0px;
}

.splashImg {
    max-width: 100%;
}

.modal .modal-body {
    overflow-y: auto;
    height: 200px;
    background-color: #264662;
    color: white;
    border-width: 0px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: inset 0px 0px 30px 0px #132331;
}

.modal .modal-footer {
    background-color: #192f41;
    border-width: 0px;
    border-radius: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.modal hr {
    border-color: white;
}

.btn-blue {
    width: auto;
    border-radius: 50px;
    background: linear-gradient(145deg, #172a3b, #1b3246);
    box-shadow: 5px 5px 9px #0e1923,
        -5px -5px 9px #25455f;
    color: white;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-blue:hover {
    background: #1f3b51;
    color: white;
}

.btn-back {
    margin-right: 20px;
}

/* Display Panel */
#panel {
    position: fixed;
    z-index: 999;
    background: #1f3b51;
    float: right;
    height: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    color: white;
    box-shadow: inset 0px 0px 30px 0px #132331;
    overflow-y: auto;
}

.panel-btns button {}

#back-btn {
    margin: 10px;
    float: left;
}

#next-btn {
    float: right;
    margin: 10px;
}

#main-btn {
    margin: 10px;
    text-align: center;
}

.disabled {
    display: none;
}

/* Story marker icon */
.story-marker-icon {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: #192f41;
    opacity: 75%;
    animation-name: story-marker-icon-pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: grab;
}

.pulsingIcon {
    border: 2px solid red;
    background-color: #192f41;
    cursor: grab;
}

iframe {
    border-width: 0px;
}


@keyframes story-marker-icon-pulse {
    0% {
        box-shadow: 0px 0px 5px 0px red;
    }

    50% {
        box-shadow: 0px 0px 10px 5px red;
    }

    100% {
        box-shadow: 0px 0px 5px 0px red;
    }
}


@media only screen and (min-width: 768px) {

    /* For desktop: */
    #panel {
        position: fixed;
        z-index: 999;
        background: #1f3b51;
        float: right;
        top: 45px;
        padding-top: 20px;
        right: 0px;
        left: inherit;
        bottom: 0px;
        width: 50%;
        height: auto;
        display: none;
        color: white;
        box-shadow: inset 0px 0px 30px 0px #132331;
    }

    #back-btn {
        margin: 10px;
        float: left;
    }

    #next-btn {
        float: right;
        margin: 10px;
    }
    
    .map-storymode {
        right: auto;
        width: 50%;
        bottom: 0px;
        height: auto;
    }

}
